/node_modules
/public/js/app.js
/public/hot
/public/storage
/storage/*.key
/vendor
/.history
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
.env
composer.lock
.env
.env
composer.lock
.env
.env
.env
.env
.env
/public/upload
/.vs
/bootstrap
/.vs/slnx.sqlite
/.vs/catalogo-lab-electricidad/config/applicationhost.config
/.vs/slnx.sqlite-journal

public/
