.content-header {
	padding: 15px .5rem 0px .5rem !important;
}

.margin-button-confirm-swal {
	margin: 0 2px;
}

.titulo-vista {
	background-color: #6a1416;
	color           : #bbbbbb;
	padding         : 0.5em 1em;
	margin          : 0;
}
