body
 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #000000;
}
.Estilo1 
{
	color: #0000FF;
	font-weight: bold;
}
.Estilo2 {color: #232651}
.Estilo3 
{
	color: #FFCC66;
	font-weight: bold;
}
.titulotabla 
{
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	vertical-align:middle;
}
.font1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	font-variant: normal;
	text-decoration: none;
}
.font2 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.font3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	font-variant: normal;
	text-decoration: none;
	text-indent: 2px;
	margin: auto;
	padding: 1px;
	right: 4px;
	bottom: 4px;
	position: relative;
	width: 3px;
}
.font4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: bold;
	font-weight: bold;
	color: #ffffff;
	line-height: bold;
	font-variant: bold;
	text-decoration: none;
}