body
 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #000000;
}
a:link {color: #000000;text-decoration: none;}
a:visited {text-decoration: none;color: #000000;}
a:hover {text-decoration: none;color: #000000;}
a:active {text-decoration: none;color: #000000;}
td{color:#333333;padding-left:0px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;}
.Estilo1{color: #0000FF;font-weight: bold;}
.Estilo2 {color: #232651}
.Estilo3{color: #FFCC66;font-weight: bold;}

/*Class*/
.m1{
	color: #535353;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	text-indent: 10px;
	text-align: justify;
	white-space: normal;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
	clip: rect(auto,auto,auto,auto);
}
.m2{
	color: #ffffff;
	font-family: Verdana, "Arial OUP", "Arial Rounded MT Bold";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.m3{
	color: #ff8040;
	font-family: "Book Antiqua", "Arial Baltic", "Blackadder ITC", serif;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: normal;
	list-style-position: inside;
	text-decoration: none;
	text-transform: none;
	white-space: inherit;
	font-size: 12px;
}
.m4 {
	border-color: inherit;
	color: #535353;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-size: 11px;
	text-decoration: none;
	line-height: 18px;
}
.m5{
	color: #6699ff;
	font-family: Arial,Helvetica,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;
	text-indent: 0px;
	text-align: justify;
	white-space: normal;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
	clip: rect(auto,auto,auto,auto);
}
.m6{
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	text-indent: 0px;
	text-align: justify;
	white-space: normal;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
	clip: rect(auto,auto,auto,auto);
    background-color: #6699ff;
}
.m7{
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	text-indent: 0px;
	text-align: justify;
	white-space: normal;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
	clip: rect(auto,auto,auto,auto);
}
.m8{
	color: #ff8040;
	font-family: Arial,Helvetica,sans-serif;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	list-style-position: inside;
	text-decoration: none;
	text-transform: none;
	white-space: inherit;
	font-size: 14px;
}
.m9{
	color: #535353;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
	text-indent: 10px;
	text-align: justify;
	white-space: normal;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
	clip: rect(auto,auto,auto,auto);
}
.sample{
    width: 680px;
}
.b1,.b2,.b3,.b4{font-size: 1px;overflow: hidden;display: block;}
.b1{height: 1px;background: #888;margin: 0 5px;}
.b2{height: 1px;background: #ddd;border-right: 2px solid #888;border-left: 2px solid #888;margin: 0 3px;}
.b3{height: 1px;background: #ddd;border-right: 1px solid #888;border-left: 2px solid #888;margin: 0 2px;}
.b4{height: 1px;background: #ddd;border-right: 1px solid #888;border-left: 2px solid #888;margin: 0 1px;}
.bcontent{background: #ddd;border-right: 1px solid #888;border-left: 1px solid #888;padding-left: 5px;padding-right: 5px;}